#content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

#text {
    width: 75%;
    align-items: center;
}


.justified-text {
    text-align: justify;
}

#images2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#images2 img {
    width: 20%; /* Adjust width as needed */
    max-width: 100%;
    margin-bottom: 30px;
}

#images2 h1, #images2 h2 {
    text-align: center;
    width: 100%;
}
